## 災害の種類と地域分析

##### 経緯

In [1]:
import pandas as pd

emdat = pd.read_csv("emdat.csv")
emdat.head()

,Disaster Subgroup,Disaster Type,Disaster Subtype,ISO,Country,Subregion,Region,Latitude,Longitude,Start Year,Total Deaths
0,Meteorological,Storm,Tropical cyclone,USA,United States of America,Northern America,Americas,NaN,NaN,1900,6000.0
1,Hydrological,Flood,Flood (General),JAM,Jamaica,Latin America and the Caribbean,Americas,NaN,NaN,1900,300.0
2,Biological,Epidemic,Viral disease,JAM,Jamaica,Latin America and the Caribbean,Americas,NaN,NaN,1900,30.0
3,Geophysical,Volcanic activity,Ash fall,JPN,Japan,Eastern Asia,Asia,NaN,NaN,1900,30.0
4,Geophysical,Earthquake,Ground movement,TUR,Türkiye,Western Asia,Asia,40.3,43.1,1900,140.0

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

# 日本語フォント（Windows向け）
plt.rcParams['font.family'] = 'MS Gothic'

# CSV読み込み
emdat = pd.read_csv('emdat.csv')

# 列名を日本語に変更
emdat = emdat.rename(columns={
    'Disaster Subgroup': '災害サブグループ',
    'Disaster Type': '災害タイプ',
    'Disaster Subtype': '災害サブタイプ',
    'ISO': 'ISOコード',
    'Country': '国名',
    'Subregion': 'サブリージョン',
    'Region': 'リージョン',
    'Latitude': '緯度',
    'Longitude': '経度',
    'Start Year': '開始年',
    'Total Deaths': '死亡者数'
})

# 確認
emdat.head()

,災害サブグループ,災害タイプ,災害サブタイプ,ISOコード,国名,サブリージョン,リージョン,緯度,経度,開始年,死亡者数
0,Meteorological,Storm,Tropical cyclone,USA,United States of America,Northern America,Americas,NaN,NaN,1900,6000.0
1,Hydrological,Flood,Flood (General),JAM,Jamaica,Latin America and the Caribbean,Americas,NaN,NaN,1900,300.0
2,Biological,Epidemic,Viral disease,JAM,Jamaica,Latin America and the Caribbean,Americas,NaN,NaN,1900,30.0
3,Geophysical,Volcanic activity,Ash fall,JPN,Japan,Eastern Asia,Asia,NaN,NaN,1900,30.0
4,Geophysical,Earthquake,Ground movement,TUR,Türkiye,Western Asia,Asia,40.3,43.1,1900,140.0